
@{
    ViewBag.Title = "Formulaire";
}

<h2>Formulaire</h2>
<p>Bonjour ceci est un formulaire</p>
<form action="AffichageFormulaire" method="POST" >
    <input name="nom" value="Rico" type="text" />
    <input type="submit" Envoyer/>
</form>