{% extends 'base.html.twig' %}

{% block title %}New Musicien{% endblock %}

{% block body %}
    <h1>Create new Musicien</h1>

    {{ include('musicien/_form.html.twig') }}

    <a href="{{ path('musicien_index') }}">back to list</a>
{% endblock %}
